body{
  background-color: #808080 ;
h1{
	color: #B22222;
}


p {
  padding: 10px;
	color: white;
	background-color: #B22222;
	width: fit-content;
}

ul{
  padding:10px;
  color:white;
  background-color:#B22222;
}

li::marker{
  color: red;
}

li{
  padding:10px;
  color: white;
  background-color: #B22222;
  width: fit-content;
}
